#mapContainer {
    max-width: 800px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}

path {
    fill: gray;
    stroke: #a6a6a6;
    stroke-width: 0.5px;
}

.hoverCountry {
    fill: cyan;
}

.selectedCountry {
    fill: blue;
}

svg {
    border: solid 1px;
}

#infoBox {
    margin: 0 auto;
    text-align: center;
}